<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Student Tracker{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>🎓 Student Tracker</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/add_student">Add Student</a> |
            <a href="/add_grade">Add Grade</a> |
            <a href="/view_student">View Student</a> |
            <a href="/toppers">Top Performers</a> |
            <a href="/delete_student">Delete Student</a> |
            <a href="/export">Download CSV</a>|
            
            
            <a href="/subject_performance">Subject Performance</a> |
            <link rel="stylesheet" href="/static/style.css">|
        </nav>
       
    </header>

    {% block content %}{% endblock %}

    <footer>
        <hr>
        <p>📘 Powered by Flask & SQLite | Made with ❤️ by Sakshi</p>
    </footer>
</body>
</html>